<div style="width: 100%; overflow: hidden;">
  <div class="navbar">
      <i class="material-icons md-light md-48" (click)="toggleNav('chart')">insert_chart</i>
      <md-icon class="material-icons md-list-icon md-light md-48"  (click)="toggleNav('storage')">storage</md-icon>
  </div>
  <div class="body-content">
  <md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="false">
      <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
        <md-icon>add</md-icon>
      </button>
      <md-card class="example-scrolling-content">
          <md-list>
              <md-list-item *ngFor="let menu of menuList" draggable [dragScope]="'chart'" [dragData]="menu">
                  <md-icon md-list-icon (click)="selectChartType(menu.type)" (selectedIdChange)="changed($event)">{{ menu.icon }}</md-icon>
                  <h4>{{ menu.name }}</h4>
                  <md-divider></md-divider>
              </md-list-item>       
            </md-list>

            <md-list>
                <h3  draggable [dragScope]="'data'" [dragData]="dataListX"> X axis data </h3>
                <md-list-item *ngFor="let item of dataListX" >
                 <p> {{item}}</p>
                </md-list-item>       
            </md-list>

            <md-list >
                <h3 draggable [dragScope]="'data'" [dragData]="dataListY"> Y axis data </h3>
                <md-list-item *ngFor="let item of dataListY" >
                 <p> {{item}}</p>
                </md-list-item>       
            </md-list>
      </md-card>
    </md-sidenav>
    <!-- <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon>add</md-icon>
    </button> -->
    <div class="example-scrolling-content" droppable [dropScope]="'chart'" (onDrop)="onItemDrop($event)">
        <appVisualization [hidden]="showVisualizationChart" [chartType]="chartType"></appVisualization> 
    </div>
  </md-sidenav-container>
</div>
</div>